{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
  <div style="width: 100%">
      <div class="menu">
          {% for item in menu %}
            <a href="{{ item.1.0.url }}">
              <div id="{{ item.0 }}" class="menu-item" title="{{ item.1.0.help }}" style="float: left">
                <img src="{{ item.1.0.img }}" alt="">
                <h2>{{ item.1.0.name }}</h2>
              </div>
            </a>
          {% endfor %}
      </div>
  </div>
    
{% endblock %}