{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% load tags %}






{% block content %}
    {# ------ CUADRO DE BUSQUEDA -------- #}
    <form id="form-search" action="">
        <div class="search-box">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>
                            <div class="search-box-input">
                                <input type="search" id="search1" name="q" placeholder="Buscar...">
                            </div>
                        </td>
                        <td><div><input type="submit" value="Buscar"></div></td>     
                        <td>
                        </td>

                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
            // Establecemos el valor al input:search
            $("#search1").val("{{ request.GET.q }}");

        </script>
    </form>
    <br>

    <div class="detail">
        <table class="table-list" style="width: 100%">
            <tbody>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Razón social</th>
                    <th>Teléfono</th>
                    <th>Correo electrónico</th>
                </tr>
                {% for obj in object_list  %}
                  <tr onclick="goToURL('{{ obj.get_absolute_url }}');">
                      <td><img src="{{ obj.GetImg }}" alt=""></td>
                      <td>{{ obj.id|complete0:"7" }}</td>
                      <td>{{ obj.identificacion }}</td>
                      <td>{{ obj.nombre }}</td>
                      <td>{{ obj.razon_social }}</td>
                      <td>{{ obj.telefono1 }}</td>
                      <td>{{ obj.email }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <br><br>

        {% if is_paginated %}
        <div class="pagination">
             <ul>
                {% if page_obj.has_previous %}
                  <li><a class="other" href="?page={{ page_obj.previous_page_number }}" title="Página anterior">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><a>&laquo;</a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><a title="Página actual">{{ i }}</a></li>
                  {% else %}
                    <li><a class="other" href="?page={{ i }}" title="Página {{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a class="other" href="?page={{ page_obj.next_page_number }}" title="Página siguiente">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><a>&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>

{% endblock %}