{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load tags %}


{% block content %}

    {# ------ CUADRO DE BUSQUEDA -------- #}
    <form id="form-search" action="">
        <div class="search-box">
            <table>
                <tbody>
                    <tr class="center">
                        <th>Año</th>
                        <th>Almacén</th>
                        <th>Moneda</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" name="ano" id="form-search-ano" value="{{ today.year }}">
                        </td>
                        <td>
                            <select name="almacen" id="form-search-almacen">
                                {% for almacen in almacenes %}
                                    <option value="{{ almacen.id }}">{{ almacen }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="moneda" id="form-search-moneda">
                                {% for moneda in monedas %}
                                    <option value="{{ moneda.id }}">{{ moneda }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <div>
                                <input type="submit" value="Buscar">
                                <input type="button" value="Exportar a CSV" onclick="exportToCSV()">
                            </div>
                        </td>     
                        <td>
                        </td>

                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
            // Establecemos el valor al input:search y demas...
            $("#search1").val("{{ request.GET.q }}");
            
            if ("{{ request.GET.ano }}") {
                $("#form-search-ano").val("{{ request.GET.ano }}");
            }
            if ("{{ request.GET.almacen }}") {
                $("#form-search-almacen").val("{{ request.GET.almacen }}");
            }
            if ("{{ request.GET.moneda }}") {
                $("#form-search-moneda").val("{{ request.GET.moneda }}");
            }
            

            function exportToCSV() {
                window.location.href = "{% url 'reporte-reporte-export-csv' %}?tipo=ano&almacen={{ request.GET.almacen }}&moneda={{ request.GET.moneda }}&ano={{ request.GET.ano }}";
            }

        </script>
    </form>
    <br>



    <div class="detail" style="clear: left; display: block">
        <div>
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <th>Almacén</th>
                        <th>Fecha</th>
                        <th>Moneda</th>
                        <th>Monto</th>
                        <th>Ganancia</th>
                        <th>Cantidad</th>
                    </tr>
                    {% for item in reporte %}
                        <tr>
                            <td>{{ item.almacen }}</td>
                            <td>{{ item.fecha }}</td>
                            <td>{{ item.moneda }}</td>
                            <td style="text-align: right">{{ item.monto_entrada|moneda }}</td>
                            <td style="text-align: right">{{ item.ganancia|moneda }}</td>
                            <td style="text-align: right">{{ item.cantidad }} registros</td>
                        </tr>
                    {% endfor %}

                    <tr class="total">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>{{ reporte.total_monto|moneda }}</th>
                        <th>{{ reporte.total_ganancia|moneda }}</th>
                        <th>{{ reporte.total_cantidad }} registros</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}