{% load staticfiles %}
{% load i18n %}
{% load tags %}


{% block content %}

<html>
    <head>
        <script src="{% static '/js/base.js' %}"></script>
    </head>
    <body id="areaImpresion">
        <div class="detail" style="clear: left; display: block">
            <div style="text-align: center">
                <h1>{% empresa %}</h1>
                <h2>ALMACÉN: {{ reporte.0.almacen }}</h2>
                <h2>REPORTE POR FECHA</h2>
                <h3>{{ reporte.0.fecha }}</h3>
            </div>
            <hr style="border: 1px solid black">
            <div>
                {% for item in reporte %}
                    <div style="width: 100%; border-bottom: 1px dashed black">
                        <p>No: <b>{{ item.numero }}</b>, Caj.: <b>{{ item.cajero }}</b></p>
                        <p><b>{{ item.entrada }}</b> &rarr; <b>{{ item.salida }}</b></p>
                        <p>Tasa: <b>{{ item.tasa }}</b> Ganancia: <b>{{ item.ganancia }}</b></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        

        <style>
            * {
                font-size: 16px;
                font-family: 'Courier New', Courier, monospace;
            }
            td, th {
                border: none;
            }
            table tr {
                border: 1px solid black;
            }
            table {
                width: 100%;
            }
            p {
                margin: 1px;
            }

        </style>


        <script>
            window.onload = printOut;

            function printOut() {
                printElemento('areaImpresion');
                //window.history.back();
            }
        </script>
    </body>
</html>

    


{% endblock %}