{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% load tags %}





{% block content %}
    {# ------ CUADRO DE BUSQUEDA -------- #}
    <form id="form-search" action="">
        <div class="search-box">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>
                            <div class="search-box-input">
                                <input type="search" id="search1" name="q" placeholder="Buscar...">
                            </div>
                        </td>
                        <td><div><input type="submit" value="Buscar"></div></td>     
                        <td>
                        </td>

                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
            // Establecemos el valor al input:search
            $("#search1").val("{{ request.GET.q }}");

        </script>
    </form>
    <br>

    <div class="detail">
        <table class="table-list" style="width: 100%">
            <tbody>
                <tr>
                    <th></th>
                    <th>Símbolo</th>
                    <th>Nombre</th>
                    <th>Tasa de compra</th>
                    <th>Tasa de venta</th>
                </tr>
                {% for obj in object_list  %}
                  <tr onclick="goToURL('{{ obj.get_absolute_url }}');" class="principal-{{ obj.is_principal|lower }}">
                      <td><img src="{{ obj.GetImg }}" alt=""></td>
                      <td>{{ obj.simbolo }}</td>
                      <td>{{ obj.nombre }}</td>
                      <td>{{ obj.tasa_compra }}</td>
                      <td>{{ obj.tasa_venta }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <style>
        .principal-true td {
            background: #ffffc4;
        }
    </style>

{% endblock %}