{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% load tags %}





{% block content %}
    {# ------ CUADRO DE BUSQUEDA -------- #}
    <form id="form-search" action="">
        <div class="search-box">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>
                            <div class="search-box-input">
                                <input type="search" id="search1" name="q" placeholder="Buscar...">
                            </div>
                        </td>
                        <td><div><input type="submit" value="Buscar"></div></td>     
                        <td>
                            <fieldset class="search-box-options">
                                <legend>Buscar en:</legend>
                                <input type="radio" id="radio_tags" name="field" value="tags" checked>Todos
                                <input type="radio" id="radio_id" name="field" value="id">Número
                                <input type="radio" id="radio_almacen__tags" name="field" value="almacen__tags">Almacén
                                <input type="radio" id="radio_tipo__tags" name="field" value="tipo__tags">Tipo
                                <input type="radio" id="radio_suplidor__tags" name="field" value="persona__tags">Suplidor
                            </fieldset>
                        </td>

                        <td>
                            <fieldset class="search-box-options">
                                <legend>Filtrar por fecha (dia/mes/año):</legend>
                                <input type="number" id="search_day" name="fecha__day" min="0" max="31" style="width: 80px" title="Día">
                                <input type="number" id="search_month" name="fecha__month" min="0" max="12" style="width: 80px" title="Mes">
                                <input type="number" id="search_year" name="fecha__year" min="0" max="3000" style="width: 80px" title="Año">
                            </fieldset>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
            // Establecemos el valor al input:search
            $("#search1").val("{{ request.GET.q }}");
            try {
                // Seleccionamos la opción indicada en el parámetro pasado por url.
                document.getElementById("radio_"+"{{ request.GET.field }}").checked = true;
            } catch (error) {
            }
            // Establecemos la fecha.
            document.getElementById("search_year").value = "{{ request.GET.fecha__year }}";
            document.getElementById("search_month").value = "{{ request.GET.fecha__month }}";
            document.getElementById("search_day").value = "{{ request.GET.fecha__day }}";

        </script>
    </form>
    <br>

    <div class="detail">
        <table class="table-list" style="width: 100%">
            <tbody>
                <tr>
                    <th>Número</th>
                    <th>Almacén</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Cliente/Suplidor</th>
                    <th style="text-align: right">Tasa</th>
                    <th style="text-align: right">Entrada</th>
                    <th style="text-align: right">Salida</th>
                    <th>Cajero</th>
                </tr>
                {% for obj in object_list  %}
                  <tr onclick="goToURL('{{ obj.get_absolute_url }}');">
                      <td>{{ obj.numero }}</td>
                      <td>{{ obj.almacen }}</td>
                      <td>{{ obj.tipo.codigo }} ({{ obj.tipo.modo }})</td>
                      <td>{{ obj.fecha }}</td>
                      <td>{{ obj.persona }}</td>
                      <td style="text-align: right">{{ obj.GetTasa }}</td>
                      <td style="text-align: right">{{ obj.entrada.moneda.simbolo }} {{ obj.monto_entrada|moneda:"" }}</td>
                      <td style="text-align: right">{{ obj.salida.moneda.simbolo }} {{ obj.monto_salida|moneda:"" }}</td>
                      <td>{{ obj.cajero }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>

        <br><br>

        {% if is_paginated %}
            <div class="pagination">
                 <ul>
                    {% if page_obj.has_previous %}
                      <li><a class="other" href="?page={{ page_obj.previous_page_number }}" title="Página anterior">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><a>&laquo;</a></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><a title="Página actual">{{ i }}</a></li>
                      {% else %}
                        <li><a class="other" href="?page={{ i }}" title="Página {{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a class="other" href="?page={{ page_obj.next_page_number }}" title="Página siguiente">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><a>&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}