{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load tags %}



    



{% block content %}
    <div style="padding: 20px; width: 600px">
        <div class="form-p">
            <form action="" id="form1" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <a class="button1" onclick="document.getElementById('form1').submit();" title="Guardar"><img src="{{ IMG_SAVE }}" alt="Guardar"></a>
                <a class="button1" href="{% url 'prestamo-prestamo-list' %}" title="Cancelar"><img src="{{ IMG_CANCEL }}" alt="Cancelar"></a>
            </form>
        </div>
    </div>
{% endblock content %}
