{% extends 'base/base_print.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}






{% block header %}

{% endblock header %}
    



{% block content %}


    <div class="detail">
        

        <table style="background: #eee; padding: 5px; width: 100%;">
            <tbody>
                <tr>
                    <td rowspan="3" style="padding: 0px"><img src="{{ conf.company_logo }}" alt="" style="height: 60px; margin: auto; text-align: center"></td>
                    <td>{{ conf.company_email }}</td>
                </tr>
                <tr>
                    <td>{{ conf.company_web }}</td>
                </tr>
                <tr>
                    <td>{{ conf.company_direccion }}</td>
                </tr>
            </tbody>
        </table>
        <br>

        <table class="table1" style="width: 100%">
            <tbody>
                <tr>
                    <th>{% trans "Número" %}</th><td>{{ object.GetNumero }}</td>
                    <th>{% trans "Cliente" %}</th><td>{{ object.cliente }}</td>
                </tr>
                <tr>
                    <th>{% trans "Monto" %}</th><td>{{ object.Monto }}</td>
                    <th>{% trans "Tasa" %}</th><td>{{ object.Tasa }}</td>
                </tr>
                <tr>
                    <th>{% trans "Periodo" %}</th><td>{{ object.Periodo }}</td>
                    <th>{% trans "Cuotas" %}</th><td>{{ object.Cuotas }} ({{ object.CuotasTipo }})</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    {% if request.GET.part == 'amortizacion' %}
        <div class="detail" id="amortizacion">
            <table class="tableamortizacion" style="width: 100%">
                <caption>{% trans "Tabla de amortización" %}</caption>
                <tbody>
                    <tr>
                    {% for name in object.GetAmortizacionTitulos %}
                        <th>{{ name }}</th>
                    {% endfor %}
                    </tr>

                    {% for item in object.GetAmortizacion %}
                    <tr class="{{ item.clase }}">
                        <td>{{ item.cuota }}</td>
                        <td>{{ item.fecha|date:"d M Y" }}</td>
                        <td>{{ item.valor|intcomma }}</td>
                        <td>{{ item.interes|intcomma }}</td>
                        <td>{{ item.capital|intcomma }}</td>
                        <td>{{ item.capital_restante|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}



    {% if request.GET.part == 'comportamiento' %}
        <div class="detail">
            {% with object.GetComportamiento as comp %}
                <table class="tableamortizacion" style="width: 100%">
                    <caption>{% trans "Comportamiento de pagos" %}</caption>
                    <tbody>
                        <tr>
                            <th>Cuota</th>
                            <th>Fecha de corte</th>
                            <th>Interés</th>
                            <th>Capital</th>
                            <th>Monto a pagar</th>
                            <th>Monto por pagar</th>
                            <th>Monto pagado</th>
                            <th>Mora</th>
                            <th>Saldo anterior</th>
                        </tr>
                        {% for item in comp.comportamiento %}
                        <tr class="{{ item.clase }}">
                            <td>{{ item.cuota }}</td>
                            <td>{{ item.corte }}</td>
                            <td>{{ item.interes }}</td>
                            <td>{{ item.capital }}</td>
                            <td>{{ item.apagar|intcomma }}</td>
                            <td>{{ item.porpagar|intcomma }}</td>
                            <td>{{ item.pagado|intcomma }}</td>
                            <td>{{ item.mora|intcomma }}</td>
                            <td>{{ item.saldo_anterior|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endwith %}
        </div>
    {% endif %}


    

    <p style="text-align: center">- - - - - - - - - -  {% trans "FIN DEL DOCUMENTO" %}  - - - - - - - - - -</p>


{% endblock content %}
