{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}





{% block header %}

{% endblock header %}
    



{% block content %}
    {% if object.IsDesembolsado %}
        <div class="note1">
            <img src="{{ IMG_SORRY }}" alt="Lo siento">
            {{ "Este préstamo ya ha sido desembolsado y no acepta modificaciones."|linebreaks }}
        </div>
        <br>
        <div><a class="button1" href="{{ object.get_absolute_url }}"><img src="{{ IMG_BACK }}" alt="Retroceder">{% trans "Regresar" %}</a></div>
    {% else %}
        <div style="padding: 20px; width: 600px">
            <div class="form_p">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr class="line1">
                    <input type="submit" value="{% trans 'Guardar' %}">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock content %}
